<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cerber Donations</title>

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/waiting_requisites.css">
    <link rel="stylesheet" href="../css/payment_block.css">
    <link rel="stylesheet" href="../css/progress_bar.css">
    <link rel="stylesheet" href="../css/popup_saved_copy.css">
    <link rel="stylesheet" href="../css/fonts.css">

    <link rel="stylesheet" href="../css/media/index_media.css">
    <link rel="stylesheet" href="../css/media/waiting_requisites_media.css">
    <link rel="stylesheet" href="../css/media/payment_block_media.css">
    <link rel="stylesheet" href="../css/media/progress_bar_media.css">
    <link rel="stylesheet" href="../css/media/popup_saved_copy_media.css">
</head>
<body>
    <main>
        <div class="waiting_requisites">
            <div class="waiting_requisites__logo">
                <img src="../img/payment/wr_logo.gif" alt="">
            </div>

            <div class="progress_bar_block">
                <p>Реквизиты появятся через <span></span></p>
                <div data-time="3" class="progress_bar" id="progress-bar">
                    <div class="progress_bar__completion"></div>
                </div>
            </div>

            <div class="waiting_requisites__info">
                <p>Ожидайте выдачу реквизитов. Не закрывайте страницу!</p>
            </div>
        </div>


        <div class="substrates">
            <div class="substrate">
                <p>Все реквизиты заняты ожидайте как освободятся  не закрывайте страницу</p>
            </div>
        </div>

        <div class="patterns">
            <div class="pattern_1">
                <img src="../img/patterns/pattern_1.png" alt="">
            </div>

            <div class="pattern_2">
                <img src="../img/patterns/pattern_2.png" alt="">
                <img src="../img/patterns/pattern_2_active.png" alt="">
                <div class="href_chat">
                    <a href="https://web.telegram.org/" target="_blank">Заходи в наш чат</a>
                </div>
            </div>
        </div>
    </main>



    <div class="popup_list_saved_copy"></div>
    


    <script src="../js/payment.js"></script>
    <script src="../js/clipboard.js"></script>
    <script src="../js/popup_saved_copy.js"></script>
    <script src="../js/href_chat_mobile.js"></script>
</body>
</html>
